<%= render 'shared/breadcrumb', title: "留言" %>

<pre>
尊敬的客户您好。感谢您的支持与关注，您有任何问题可以通过填写下表在线提问、投诉或者与我们交流，相关人员会迅速给予您答复，谢谢。(说明：带<span class="important">*</span>号的为必填项！)
</pre>

<%= bootstrap_flash %>

<%= form_for @message, html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', target: @message %>

  <div class="control-group">
    <%= f.label :name, '姓名:', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'text_field' %> &nbsp;<span class="important">*</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :contact, '联系方式:', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact, class: 'text_field' %> &nbsp;<span class="important">*</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :body, '留言:', class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, style: "width: 420px;", rows: 10, cols: 100, class: 'text-area' %> &nbsp;<span class="important">*</span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "提交", class: "btn" %>
  </div>

<% end %>
