<ul class="breadcrumb">
  <li class="active">新闻管理<li>
</ul>

<div class="clearfix">
  <%= link_to '新增', new_admin_topic_path, :class => "btn" %>
</div>
<br />

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>标题</th>
      <th>内容</th>
      <th>发布时间</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to truncate(topic.title, length: 10), [:admin, topic] %></td>
      <td><%= truncate(topic.body, length: 30) %></td>
      <td><%= topic.created_at.to_date %></td>
      <td><%= link_to '修改', edit_admin_topic_path(topic) %></td>
      <td><%= link_to '删除', admin_topic_path(topic), method: :delete, data: { confirm: t('confirm') } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @topics %>

<%= link_to '新增', new_admin_topic_path, class: 'btn' %>

