<ul class="breadcrumb">
  <li class="active">新闻<span class="pull-right"><%= link_to "更多&nbsp;&rsaquo;&rsaquo;".html_safe, topics_path %></span><li>
</ul>
<table class="table table-bordered">
  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to truncate(topic.title, length: 40), topic %><span class="pull-right"><%= topic.created_at.to_date %></span></td>
    </tr>
    <% end %>
  </tbody>
</table>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topic %><span class="pull-right"><%= topic.created_at.to_date %></span></li>
  <% end %>
</ul>

<ul class="breadcrumb">
  <li class="active">推荐产品<li>
</ul>
<ul class="thumbnails">
  <%= render @products %>
</ul>
