<ul class="breadcrumb">
  <li class="active">公司理念<li>
</ul>
<pre>
企业标语：定制显贵  职场品位！<br />
    我们是一家有着27年经验的制衣公司,制作出的服饰销往世界各地 <br />
    我们公司经过多年的实践与钻研,总结出一套制衣原理,古今中外、皇家贵族、商政要员、影艺名人,他们所穿的服饰都经名家设计,单量单做而成,才能显示出属于他自己口味风格的服饰 <br />
    通过这种制衣原理,我们又创出了新一代高品位服饰"爱斯汀" <br />
    锦衣的制衣宗旨是:无论一、十、百、千人都会为每个人单量、单做、单试穿,这样的制衣方法才能突出自己的思路、身材、特点、品位的服饰 <br />
    锦衣在推出品牌服饰不到两年的时间就被评为"省著名商标"<br />
    锦衣服装在市场销售过程中,以选面料看做工等于成装的经营理念,取得了各层次消费者的认可与好评<br />
    为什么说锦衣品位高、价格低、工薪阶层都能承受? <br />
    因为锦衣的服饰可省掉中间商、明星形象费等各种高额费用<br />
    锦衣省去以上环节,所以销售价位在同类服饰当中降低了60%以上<br />
    锦衣制衣拥有当代最先进的西服制衣流水线,聘请国内外高级技师,采用意大利、日本等国家最先进的综合款板型,为各界人士量体制作锦衣团体装、职业装、西装等流行时装,为精品商场和高档裁剪店加工服装<br />
    锦衣服装强烈明快的色彩搭配及知性儒雅的设计理念,给人丰富的视觉冲击.全新的职场理念随着色彩构成的不同韵律交织在职场人澎湃的感受中 <br />
    二十一世纪是一个品牌文化的世纪<br />
    对服装而言,品牌意味着生命!<br />
    爱斯汀,享誉国内的著名服饰品牌,同时也在为国内最具时尚与风采的职业服加工基地,已为国内众多著名机构与企业定制职业服装.<br />
    在全球经济一体化的新纪元,在激烈的市场竞争格局中,您和您的企业,面对无时不在的竞争与压力,在您的竞争策略中,可曾想到----制服文化助您成功! <br />
    成功的制服文化不仅能让您的员工增添职业意识与使命感,更重要的是,制服文化将给您带来全新的企事业文化,成为创造经济效益的重要环节.锦衣为您企业制服文化保驾护航！ <br />
    引领职装潮流,尽显锦衣服装!<br />
</pre>

<ul class="breadcrumb">
  <li class="active">新闻<li>
</ul>
<table class="table table-bordered">
  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic %><span class="pull-right"><%= topic.created_at.to_date %></span></td>
    </tr>
    <% end %>
  </tbody>
</table>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topic %><span class="pull-right"><%= topic.created_at.to_date %></span></li>
  <% end %>
</ul>

<ul class="breadcrumb">
  <li class="active">推荐产品<li>
</ul>
<ul class="thumbnails">
  <%= render @products %>
</ul>
