<ul class="breadcrumb">
  <li class="active">新闻<span class="offset7"><%= link_to "更多&nbsp;&rsaquo;&rsaquo;".html_safe, topics_path %></span></li>
</ul>
<table class="table topics">
  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to truncate(topic.title, length: 40), topic %><span class="pull-right date">[<%= l topic.created_at.to_date %>]</span></td>
    </tr>
    <% end %>
  </tbody>
</table>

<ul class="breadcrumb">
  <li class="active">推荐<span class="offset7"><%= link_to "更多&nbsp;&rsaquo;&rsaquo;".html_safe, products_path %></span></li>
</ul>
<ul class="thumbnails">
  <%= render @products %>
</ul>
