<%= form_for [:admin, @category], html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', target: @category %>

  <%= f.hidden_field :parent_id %>
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit '提交', class: 'btn' %>
    <%= link_to '返回', admin_categories_path, class: 'btn' %>
  </div>
<% end %>
