<%= render 'shared/breadcrumb', title: "分类管理" %>

<div class="category well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><span>分类导航 <%= link_to '新增', new_admin_category_path %></span></li>
    <% Category.roots.each do |category| %>
      <li>
        <b><%= category.name %></b>
        <span><%= link_to '新增', new_admin_category_path(parent_id: category) %></span>
        <span><%= link_to '修改', edit_admin_category_path(category) %></span>
        <span><%= link_to '删除', admin_category_path(category), method: :delete, data: { confirm: t('confirm') } %></span>
      </li>
      <% if category.has_children? %>
        <ul class="nav nav-list">
          <% category.children.each do |child| %>
            <li>
              <%= child.name  %>
              <span><%= link_to '修改', edit_admin_category_path(child) %></span>
              <span><%= link_to '删除', admin_category_path(child), method: :delete, data: { confirm: t('confirm') } %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div><!--/.well -->

