<ul class="breadcrumb">
  <li class="active">分类管理<li>
</ul>

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><span>导航 <%= link_to '新增', new_admin_category_path %></span></li>
    <% Category.roots.each do |category| %>
      <li>
        <%= category.name %>
        <span><%= link_to '新增', new_admin_category_path(parent_id: category) %></span>
        <span><%= link_to '修改', edit_admin_category_path(category) %></span>
        <span><%= link_to '删除', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </li>
      <% if category.has_children? %>
        <ul class="nav nav-list">
          <% category.children.each do |child| %>
            <li>
              <%= child.name  %>
              <span><%= link_to '修改', edit_admin_category_path(child) %></span>
              <span><%= link_to '删除', admin_category_path(child), method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div><!--/.well -->

