<ul class="breadcrumb">
  <li class="active">产品管理<li>
</ul>

<div class="clearfix">
  <%= link_to '新增', new_admin_product_path, :class => "btn" %>
</div>
<br />

<ul class="thumbnails">
  <% @products.each do |product| %>
    <li class="span2">
      <%= link_to image_tag(product.image.thumb.url), [:admin, product], :class => 'thumbnail' %>
      <div class="caption" style="text-align: center">
        <h5><%= product.name %></h5>
        <p>
          <%= link_to '修改', edit_admin_product_path(product), class: 'btn btn-mini' %>
          <%= link_to '删除', admin_product_path(product), method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-mini' %>
        </p>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @products %>

<%= link_to '新增', new_admin_product_path, class: 'btn' %>
