<ul class="breadcrumb">
  <li class="active">产品展示 - <%= @product.name %><li>
</ul>

<% if @product.image? %>
  <ul class="thumbnails">
    <li class="thumbnail">
      <%= image_tag(@product.image.url) %>
    </li>
  </ul>
<% end %>

<%= content_tag(:pre, @product.description) unless @product.description.blank? %>

<%= link_to '修改', edit_admin_product_path(@product), class: 'btn' %>
<%= link_to '返回', admin_products_path, class: 'btn' %>
