<%= render 'shared/breadcrumb', title: "产品 - #{@product.name}" %>

<% if @product.image? %>
    <ul class="thumbnails">
      <li class="thumbnail">
        <%= image_tag(@product.image.url) %>
      </li>
    </ul>
<% end %>

<pre class="description">
<%= @product.description %>
</pre>

<% if @product.taobao_url %>
  <p>
    <%= link_to '淘宝详情', @product.taobao_url, class: 'btn', target: '_blank' %>
  </p>
<% end %>

<div>
  <%= link_to '所有产品', products_path, class: 'btn' %>
</div>

