<%= render 'shared/breadcrumb', title: "产品 - #{@product.name}" %>

<% if @product.image? %>
    <ul class="thumbnails">
      <li class="thumbnail">
        <%= image_tag(@product.image.url) %>
      </li>
    </ul>
<% end %>

<% if @product.taobao_url %>
  <p>
    <%= link_to '淘宝链接', @product.taobao_url, target: '_blank' %>
  </p>
<% end %>

<pre class="description">
<%= @product.description %>
</pre>

<div>
  <%= link_to '所有产品', products_path, class: "btn" %>
</div>

